@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: rgb(255, 150, 208);
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 5em;
    text-align: center;
    margin-top: 50px;
    color: rgb(238, 238, 238);
    }

.container {
    display: grid;
    margin: 50px auto;
    width: 50vh;
    height: 50vh;
    border: 1px solid black;
    background-color: rgb(238, 238, 238);
}

.square {
    border: 1px solid gray;
}

.hovered {
    background-color: black;
}

button {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    width: 4em;
    height: 2em;
    margin: 0 auto;
    border: 3px solid gray;
}

button :focus {
    border: 1px solid black;
}